default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>


development:
  <<: *default
  database: home_automation_development

test:
  <<: *default
  database: home_automation_test

production:
  <<: *default
  database: home_automation_production
  username: home_automation
  password: <%= Rails.application.credentials.dig(:db_password) %>