.line
  .line--item.-title
    = link_to sensor.name, sensor, 'up-target' => '.layout--content'
  .line--item.-right{id: "sensor_#{sensor.id}", 'up-hungry' => ''}
    = sensor.current_value&.round(1) || 'no value'
    = sensor.unit
