

.online-indicator
  display: inline

  &:before
    font-family: FontAwesome
    content: "\f111"

  &.-online
    color: green

  &.-offline
    color: red

  .online-indicator--state
    color: gray
    font-size: 0.7em
    display: inline

